---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .site-header{
      border:none;
  }

  .site-footer{
      border:none;
  }

  .aboutpic{
    transition: transform 5s ease-in-out;
  }

  .aboutpic:hover {
    transform: rotate(3600deg);
  }
